body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background:linear-gradient(45deg, #fff, rgba(12, 1, 51, 0.993));
    padding: 15px;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 10px 0px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color:rgba(12, 1, 51, 0.993);
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #bcaaa4;
    padding: 5px;
}
